@import "~bootstrap/scss/_functions";

// Variables.
$body-bg: #55555f;
$primary:  #FEF638;
$secondary:  lighten($body-bg, 50%);
$body-color: $secondary;
$body-bg: #55555f;
$input-bg: transparent;
$input-border-color: $secondary;
$input-color: $body-color;
$dropdown-link-color: $body-color;
$input-color-placeholder: darken($body-bg, 50%);

@import "~bootstrap/scss/_variables";

$dropdown-link-hover-bg: $secondary;
$dropdown-link-hover-color: color-yiq($secondary);
$dropdown-link-active-color: color-yiq($primary);

// Reboot
@import "~bootstrap/scss/bootstrap";

header {
    background-color: $primary;
    img {
        display: block;
        height: 1.2em;
        margin: 0 auto;
    }
}

.form-control:disabled,
input[disabled] {
    background-color: $input-bg;
    opacity: 0.3;
}

.input-group-prepend label {
    color: $dropdown-link-hover-color;
}

.select-container {
    display: flex;
    flex: 1 1 auto;

    &.rounded-0 .select__control {
        @extend .rounded-0;
    }

    &.rounded-right .select__control {
        @extend .rounded-right;
    }

    .select__control {
        flex-grow: 1;
        align-self: stretch;
        border-color: $input-border-color;
        background-color: $input-bg;
        &:hover {
            border-color: $input-border-color;
        }
        &.select__control--is-focused {
            border-color: $input-focus-border-color;
            box-shadow: $input-focus-box-shadow;
        }

    }
 
    .select__input {
        color: $input-color;
    }
    .select__single-value,
    .select__multi-value {
        color: $input-color;
    }
    .select__multi-value__remove {
        @extend .rounded-0;
        @extend .rounded-right;
        &:hover {
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
    .select__multi-value {
        background-color: $input-bg;
        border: $input-border-width solid $input-border-color;
    }
    .select__multi-value__label {
        color: $input-color;
    }
    .select__dropdown-indicator svg path {
        fill:  $input-border-color;
    }
    .select__control--menu-is-open .select__dropdown-indicator svg path {
        fill: $input-focus-border-color;
    }
    .select__menu {
        background: $body-bg;
        border-width: $input-border-width;
        border-color: $input-border-color;
        border-style: solid;
        margin: 0;
        z-index: 10;
    }
    .select__menu-list {
        padding: 0;
    }
    .select__option {
        color: $dropdown-link-color;
    }
    .select__option--is-focused {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
    .select__option--is-selected {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
    }
}